

body > #root > div {
  height: 100vh;
}

body {
  background-color: #e6e6e6;
}

.top-row {
  background-size: cover;
  height: 15vh;
  margin-bottom: 10vh;
  justify-content: center;
  background-position: center; 

}

.top-row h1, .home-top-row {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0px;
  text-align: center;
  color: #fff;
}

.home-top-row {
  font-size: 1.7rem;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}
.div-home {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
}

.home-image {
  background-image: url('https://images.unsplash.com/photo-1534592302589-d4f8f14c6f47?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1956&q=80');
  background-size: cover;
  width: 90vw;
  height: 15vw;
  padding: 0%;
  margin: auto;
}
.item-add-to-cart {
  font-size: 1.4rem;
}

.add-rem {
  border: 2px solid rgb(255, 255, 255);
  cursor: pointer;
  padding: 4px 16px 4px 10px;
  width: 20px;
  background-color: rgb(175, 175, 175);
  color: rgb(255, 255, 255);
  justify-content: center;
  text-align: right;
  outline: none;
  border-radius: 5px;
}

.item-add-to-cart input {
  cursor: pointer;
  background:  none;
  border: none;
  font-size: 1.4rem;
  outline:  none;
  color: rgb(105, 105, 105);
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-left: 20px;

}

.add-to-cart-button, .finalize-btn {
  margin-left: 20px;
  border: 2px solid white;
  cursor: pointer;
  width: 100px;
  height: 30px;
  background-color: chocolate;
  color: #fff;
  border-radius: 5px;
  outline: none;
}

.add-rem:hover,  
.add-to-cart-button:hover,
.finalize-btn:hover  {
  background-color: saddlebrown;
  transform: scale(1.05);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}