@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

body > #root > div {
  height: 100vh;
}

body {
  background-color: #e6e6e6;
}

.top-row {
  background-size: cover;
  height: 15vh;
  margin-bottom: 10vh;
  justify-content: center;
  background-position: center; 

}

.top-row h1 {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0px;
  text-align: center;
  color: #fff;
  font-family: 'Merienda', cursive;
  text-shadow: 0px 0px 5px black;
}

.home-top-row {
  position: relative;
  top: 0vh;
  text-align: center;
  font-size: 2.2rem;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  height: 10vh;
  text-shadow: 0px 0px 0px rgba(68, 35, 95, 0.459);
}

.div-home {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
}

.home {
  padding: 0px;
  height: 93vh;
  overflow: hidden;
  z-index: 1;
  font-family: 'Merienda', cursive;
  color: #391D82;
  font-size: 1.1rem;
  background-image: url('https://images.unsplash.com/photo-1534592302589-d4f8f14c6f47?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1956&q=80');
}

.home p, .shop-now-btn {
  position: absolute;
  right: 5%;
  top: 38%;
  text-align: center;
  justify-content: center;
}

.shop-now-btn {
  right: 16%;
  top: 50%;
  border: none;
  outline: none;
  background-image: linear-gradient(to right, #AF83E3 0%, #391D82  51%, #AF83E3  100%);
  margin-top: 15px;
  padding: 15px 45px;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-family: inherit;
}

.shop-now-btn:hover {
  background-position: right center; /* changes the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.home-image {
  background-size: cover;
  width: 90vw;
  height: 10vw;
  padding: 0%;
  margin: auto;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about h2 {
  padding-top: 10vh;
  font-family: 'Merienda', cursive;
}

.about-img-wrapper {
  border: 0px solid;
  border-radius: 500px;
  overflow: hidden;
  background-image: url('https://images.unsplash.com/photo-1551947391-249dcb8ed976?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=967&q=80');

  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
}

.about-img {
}

.item-add-to-cart {
  font-size: 1.4rem;
}

.add-rem {
  border: 2px solid rgb(255, 255, 255);
  cursor: pointer;
  padding: 4px 16px 4px 10px;
  width: 20px;
  background-color: rgb(175, 175, 175);
  color: rgb(255, 255, 255);
  justify-content: center;
  text-align: right;
  outline: none;
  border-radius: 5px;
}

.item-add-to-cart input {
  cursor: pointer;
  background:  none;
  border: none;
  font-size: 1.4rem;
  outline:  none;
  color: rgb(105, 105, 105);
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-left: 20px;

}

.add-to-cart-button, .finalize-btn {
  margin-left: 20px;
  border: 2px solid white;
  cursor: pointer;
  width: 100px;
  height: 30px;
  background-color: chocolate;
  color: #fff;
  border-radius: 5px;
  outline: none;
}

.add-rem:hover,  
.add-to-cart-button:hover,
.finalize-btn:hover  {
  background-color: saddlebrown;
  transform: scale(1.05);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}