.cart-div {
  width: 80vw;
  border: 2px solid rgb(109, 109, 109);
  border-radius: 10px;
  margin: auto;
  margin-bottom: 10vh;
}

.cart-title {
  text-align: center;
  padding: 40px;
}

.cart-table {
  align-items: center;
  margin-bottom: 5vh;
}

.cart-table li {
  display: flex;
  margin: 20px;
  text-align: center;
  align-items: center;
  border: 1px solid rgb(202, 202, 202);
  overflow: auto;
}

.cart-table li::marker {
  padding-right: 30px;
  font-size: 1.2rem;
}

.cart-table li img {
  width: 80px;
}

a span {
  padding: 20px;
}

.cart-table li p {
  padding-right: 30px;
  margin: 0px;
}

.cart-item-menage {
  position: absolute;
  right: 15vw;
  display: flex;
  justify-content: space-between;
  width: 20vw;
  align-items: center;
  justify-items: center;
}

.trash-del {
  transform: scale(1.2);
  background: none;
  border: none;
  outline: none;
  color: saddlebrown;
}

.trash-del:hover {
  color: rgb(255, 106, 0);
  transform: scale(1.4);
 }

 .total {
   margin-left: 50vw;
   padding-bottom: 5vh 0px 5vh 0px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 23vw;
   font-size: 1.1rem;
  }

 .finalize-btn {
   width: 120px;
   height: 40px;
   font-size: 1.1rem;
  } 
  