.navbar, .navbar-header, .navbar-nav {
  background-color: rgb(31, 19, 5);
  color: white;
  height: 7vh;
  z-index: 5;
}

.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-header div {
  padding: 10px;
  font-size: 1.5rem;
}

.fa-icon {
  margin-left: 8px;
  width: 40px;
  height: 40px;
  padding-right: 7px;
  color: #e9891b;
}

.right-elements {
  display: inline;
}

.store-logo {
  font-family: 'Merienda', cursive;

}

.cart-li, .store-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 5px !important;
}

.nav-links li {
  padding: 5px 10px;
  margin: 5px 10px;
  align-items: center;
  justify-content: center;
}

.nav-links a:hover {
  background-color: rgba(255, 255, 255, 0.13);
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.item-quantity {
  background-color: rgb(131, 58, 6);
  border: 2px;
  border-radius: 50px;
  font-size: 0.8rem !important;
  height: 20px;
  width: 20px;
  padding: 0px !important;
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
  font-weight: 600;
  margin-left: -12px;
  margin-top: 19px;
}

.store-logo {
  justify-items: center;
  justify-content: center;
  justify-self: center;
}